@import '../../../variables.scss';

.arrow {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: $primary;
  opacity: 0.4;

  background-repeat: no-repeat;


  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.1;
    cursor: default;
  }
}

.prev {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.77741 14.0145L17.3477 25.5846C17.6153 25.8525 17.9726 26 18.3535 26C18.7344 26 19.0916 25.8525 19.3592 25.5846L20.2113 24.7328C20.7658 24.1777 20.7658 23.2755 20.2113 22.7213L10.4954 13.0054L20.2221 3.27872C20.4897 3.0109 20.6375 2.65388 20.6375 2.27318C20.6375 1.89207 20.4897 1.53504 20.2221 1.26701L19.37 0.415361C19.1022 0.147543 18.7452 0 18.3643 0C17.9834 0 17.6261 0.147543 17.3585 0.415361L5.77741 11.996C5.50917 12.2647 5.36184 12.6234 5.36268 13.0048C5.36184 13.3876 5.50917 13.7461 5.77741 14.0145Z' fill='white'/%3E%3C/svg%3E");
  background-position: 36%;
}

.next {
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2226 11.9855L8.65226 0.415362C8.38465 0.147544 8.02742 0 7.64651 0C7.26561 0 6.90837 0.147544 6.64077 0.415362L5.78869 1.26723C5.23424 1.82231 5.23424 2.72448 5.78869 3.27872L15.5046 12.9946L5.77791 22.7213C5.5103 22.9891 5.36255 23.3461 5.36255 23.7268C5.36255 24.1079 5.5103 24.465 5.77791 24.733L6.62999 25.5846C6.8978 25.8525 7.25483 26 7.63573 26C8.01664 26 8.37387 25.8525 8.64148 25.5846L20.2226 14.004C20.4908 13.7353 20.6382 13.3766 20.6373 12.9952C20.6382 12.6124 20.4908 12.2539 20.2226 11.9855Z' fill='white'/%3E%3C/svg%3E");
  background-position: 61%;
}
