@import '../../variables.scss';

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 515px;

  margin-bottom: 20px;

  background-color: transparent;
  overflow: hidden;

  & img {
    max-height: 515px;
  }
}

.wrap {
  display: flex;
  gap: 20px;

  margin-bottom: 40px;
}
