.cross {
  width: 27px;
  height: 27px;

  background-repeat: no-repeat;
  background-position: center;

  background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='33.5354' height='4.19192' transform='matrix(0.715661 -0.698448 0.715661 0.698448 0 23.4227)' fill='%23548B60'/%3E%3Crect width='33.5354' height='4.19192' transform='matrix(0.715661 0.698448 -0.715661 0.698448 3 0.649475)' fill='%23548B60'/%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='33.5354' height='4.19192' transform='matrix(0.715661 -0.698448 0.715661 0.698448 0 23.4227)' fill='%2393E1A4'/%3E%3Crect width='33.5354' height='4.19192' transform='matrix(0.715661 0.698448 -0.715661 0.698448 3 0.649475)' fill='%2393E1A4'/%3E%3C/svg%3E");
  }
}
