@import '../../variables.scss';

.popup {
  position: absolute;
  top: 0; width: 100%;
  min-height: 100%;
  background: $fade;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 84px;
  right: 16%;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 70vw;
  min-height: 92vh;
  padding: 60px;
  margin-top: 65px;

  background: $bg;
  border-radius: 15px 15px 0 0;
}

.wrapUi {
  display: flex;
  gap: 50px;

}
