@import '../../../variables.scss';

.button {
  padding: 3px 29px;

  color: $white;
  background-color: $primary;
  border-radius: 5px;

  &:hover {
    background-color: $hover;
  }

  &:disabled {
    cursor: default;
    opacity: 0.2;
  }
}
