@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: 'Martel Sans', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  font-size: 40px;

  margin: 30px;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

