//Colors

$primary: #548B60;
$hover: #93E1A4;
$bg: #DAFFED;
$default: lightgrey;
$white: white;

$fade: rgba(0, 0, 0, 0.36);
$shadow: rgba(12, 14, 15, 0.2);
$transparent: rgba(255, 255, 255, 0.41);


//Fonts

$fontDefault: 'Martel Sans', sans-serif;

